.sub-div {
    height: 70px;
    border-radius: 3px;
    background-color: #6c757d2e;
}

.sub-div h1 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.766);
    margin: 5px;
}

.sub-div p {
    margin: 4px;
    padding-left: 5px;
    color: #4241417c;
    font-size: 20px;
    text-align: left;
}

.sub-div-container {
    width: 70%;
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}